@import
'normalize',
'fonts',
'mixins',
'media',
'variables',
'utils',
'globals';

//@import
//'blocks/burger-button',
//'blocks/button',
//'blocks/header',
//'blocks/cross-button',
//'blocks/mobile-overlay',
//'blocks/section',
//'blocks/hero';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  max-width: 144rem;
  width: 100%;
  height: 100%;
  border: 1px solid green;
}

img {
  max-width: 100%;
}

a {
  list-style-type: none;
  text-decoration: none;
  
}

// header nav

.container {
  max-width: 106rem;
  width: 100%;
  
  border: 1px solid black;
  margin-left: 19rem;
  margin-right: 19rem;

}
.header {
  background: linear-gradient(0deg, rgba(221, 34, 17, 0.87) 0%, rgba(221, 34, 17, 0.87) 100%), url(../images/01_1.jpeg), lightgray 0.398px 0.103px / 100% 123% no-repeat;
  background-size: cover;
  background-position: center;
  height: 68rem;
 

  
  
}
.header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.header__img {
  margin: 0;
  padding: 0;
  
  display: block;
  background: url(../images/Logo.svg) center / contain no-repeat;
  width: 100%;
  height: 9rem;
  color: hsba(0, 0%, 100%, 1);
  
  

}
.header__nav {
  
  
}
.header__nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem
  
}
.header__nav-ul-li {
  list-style-type: none;
  
}
.header__nav-ul-li-a {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  transition: background-color .3s;
}

.header__nav-ul-li-a:hover {
  
  width: 9.2rem;
  height: 3.4rem;
  text-align: center;
  scale: 1.2;
  background-color: #130E27;
}  


.header__h1 {
  text-transform: uppercase;
  max-width: 53rem;
  color: #130E27;
  font-family: Montserrat;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px; /* 91.111% */
  letter-spacing: -1.8px;
  margin-bottom: 5rem;
  
}

.header__h1 span {
  color: #FFF;
 
}
.header__p {
  max-width: 50rem;
  
  color: #FFF;
  font-family: "PT Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: -0.4px;
}
.services__h2{
  text-transform: uppercase;
  color: #C62314;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.services__h2 span {
  color: #130E27;
}
.services__img {
  max-width: 100%;
  color: #130E27;
}

.services__img_02 {
  background: url(../images/02.svg) center / contain no-repeat;
  //width: 15rem;
  height: 15rem;
}

.services__img_03 {
  background: url(../images/03.svg) center / contain no-repeat;
  //width: 15rem;
  height: 15rem;
}

.services__img_04 {
  background: url(../images/04.svg) center / contain no-repeat;
  //width: 15rem;
  height: 15rem;
}

.services__img_05 {
  background: url(../images/05.svg) center / contain no-repeat;
  //width: 15rem;
  height: 15rem;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;

}

.services__cards p
{
  width: 16.6rem;
  color: #161616;
  text-align: center;
  font-family: "PT Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: -0.6px;
}

.story {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #130E27;

}
.story__text {
  max-width: 61.1rem;
  width: 100%;
  color: #FFF;
  font-family: "PT Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: -0.4px;
}
.story__btn {
  color: #FFF;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 27rem;
  width: 100%;
  height: 6.4rem;
  border-radius: 5px;
  background: #C62314;
  border: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.price__h3
{
  display: block;
  text-transform: uppercase;
  color: #130E27;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
  margin: 5rem 42.2rem;

}
.price__cards {
  display: flex;
  justify-content: space-between;
}
.price__card {
  max-width: 34rem;
  width: 100%;
  height: 46rem;
  border: 1px solid aqua;
  text-align: center;
}
.price__p {

  color: #161616;

  font-family: "PT Serif";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  letter-spacing: -0.66px;
  padding-top: 3.5rem;
  padding-bottom: 4rem;
}

.price__h4 {
  color: #C62314;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
  padding-bottom: 3rem;
  text-transform: uppercase;
}
.price__p_01
{
  display: block;
  color: #161616;
  text-align: center;
  font-family: "PT Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: -0.6px;
  max-width: 15rem;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 4rem;
}
.price__p_02 {
  max-width: 17rem;
  width: 100%;
}
.price__btn
{
  color: #FFF;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border-radius: 5px;
  background: #130E27;
  border: none;
  padding: 1rem 8rem;
  transition: background .3s;

}
.price__btn:hover {
  background: #C62314;
}

.footer {
  background: #130E27;
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}


.footer p
{
  color: #FFF;
  font-family: "PT Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: -0.4px;
}
.footer p span {
  color: #C62314;
}

.header__img {

}