//section footer
.footer {
  margin-top: 7rem;
  height: 19rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #130E27;

  &__description {
    color: #FFF;
    font-family: "PT Serif", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.4px;

    & span {
      color: #C62314;
    }
  }

}



