
// header nav
.header {
  background: linear-gradient(0deg, rgba(221, 34, 17, 0.87) 0%, rgba(221, 34, 17, 0.87) 100%), url(../../images/header-bg.png), lightgray 0.398px 0.103px / 100% 123%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 68rem;
  max-width: 100%;


  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
  }

  &__menu-item {
    width: 9.2rem;
    height: 3.4rem;
    text-align: center;
    line-height: 3.4rem;
  }

  &__menu-link {
    position: relative;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    transition: background-color var(--transition-duration);
  }

  &__menu-item:hover {
    background-color: #130E27;
  }

  &__title-main {
    text-transform: uppercase;
    max-width: 53rem;
    color: #130E27;
    font-family: Montserrat, sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px; /* 91.111% */
    letter-spacing: -1.8px;
    margin-bottom: 5rem;
  }

  &__title-main span {
    color: #FFF;
  }

  &__description {
    max-width: 49.4rem;
    color: #FFF;
    font-family: "PT Serif", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    text-wrap: wrap;
  }
}

