
//section services
.services {

  &__title {
    text-transform: uppercase;
    color: #C62314;
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
    padding-top: 5rem;
    padding-bottom: 8rem;
  }

  &__title span {
    color: #130E27;
  }
  
  &__cards {
    display: flex;
    justify-content: space-between;
    align-content: center;
    column-gap: 2rem;
    margin-bottom: 7rem;
  }

  &__card {
    & img {
      margin-bottom: 3.9rem;
      min-height: 18rem;
    }

    & p {
      width: 16.6rem;
      font-family: var(--font-family), sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.03em;
      text-align: center;
      color: #161616;
    }

  }

}

// media queries

@include mobile-above {
  .services__cards {
    flex-wrap: wrap;

  }
}




